body {
    /*margin : 0;
    padding: 0;
    overflow: hidden;*/
}

#message{
    position: absolute;
    z-index: 100;
    width: 100%;
}

#copy{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#words{
    color: white;
}